*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;

}
.container{
    max-width: 1000px;
    background-color: #E5F8F5;
    margin: 0 auto;
    padding: 20px;
}
header{

}
.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration:none;
    color:teal;
    font: bold;
}
.header-contact a:hover{
    text-decoration:underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}



/* personal section  start*/

.personal-section{

}
.content{
   margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;

}
.right-div{
    width: 70%;
    float: left;

}
.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.UL-LI{
    margin-left: 16px;
}

/* personal section  end*/


/* ================================ */
/* Education part start */
.h5Forloc{
    color: black;
    font-weight: 598;
    font-size: 15px;
}

.education-temp-letf{
    width: 45%;
    float: left;
}
.edcation-temp-right{
    width: 45%;
    float: right;
}

/* education part end */





/* footer start */

.button-container{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
.button-container a{
    color: white;
    text-decoration: none;
    margin: 30px;
}
.button-container p{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

/* footer end*/